.about_counter_area {
  @include background(
    "../img/banner/about_bg_banner.jpg",
    center center,
    no-repeat
  );
  .about_countBox {
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.01);
    background-color: #fff;
    padding: 48px 30px;
    @media #{$tab} {
      padding: 30px;
    }
    h3 {
      font-size: 50px;
      color: $home_secondary;
      font-weight: 700;
      margin-bottom: 8px;
      @media #{$tab} {
        font-size: 30px;
      }
    }
    p {
      font-size: 16px;
      font-weight: 500;
      color: $home_body;
      margin-bottom: 0;
    }
  }
}

// new
.about_cta_area {
  padding: 97px 0 94px 0;
  @media #{$tab} {
    padding: 70px 0;
  }
  @include background(
    "../img/banner/about_cta_bg.jpg",
    center center,
    no-repeat
  );
  p {
    margin: 13px 0 45px 0;
    @media #{$tab} {
      margin: 10px 0 30px 0;
    }
  }
}

.about_value_section {
  .about_value_textBox {
    display: flex;
    grid-column-gap: 145px;
    flex-wrap: wrap;
  }
  .section__title2 {
    max-width: 330px;
    h3 {
      line-height: 1.28;
    }
  }
  .about_value_desc {
    max-width: 630px;
  }
  .about_val_imgs {
    @media #{$tab} {
      flex-wrap: wrap;
    }
  }
}
// amazy_about_banner_text
.amazy_about_banner_text {
  .section__title2 {
    max-width: 513px;
    h3 {
      max-width: 450px;
      margin-bottom: 21px;
    }
  }
}
.about_banner_count {
  grid-gap: 60px;
  border-top: 1px solid #f1ece8;
  margin-top: 36px;
  padding-top: 38px;
  @media #{$tab} {
    grid-gap: 30px;
  }
  .single_about_banner_count {
    h4 {
      font-size: 40px;
      font-weight: 700;
      color: $home_secondary;
      margin-bottom: 6px;
      line-height: 1;

      @media #{$tab} {
        font-size: 30px;
      }
    }
    p {
      font-size: 14px;
      font-weight: 500;
      color: $body_text;
    }
  }
}
