.bradcam_bg_1 {
  @include background(
    "../img/banner/bradcam_bg_1.jpg",
    center center,
    no-repeat
  );
}
.bradcam_bg_2 {
  background-image: url(../img/banner/bradcam_bg_2.jpg);
}
.breadcrumb_area {
  .breadcrumb_iner {
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 156px 0 205px 0;
    .bradcam_text {
      width: 100%;
      h3 {
        font-size: 30px;
        font-weight: 700;
        color: $white;
        font-family: $font1;
        margin-bottom: 23px;
        @media #{$tab} {
          font-size: 25px;
        }
      }
      h2 {
        font-size: 50px;
        color: $white;
        font-weight: 700;
        text-transform: capitalize;
        @media #{$tab} {
          font-size: 40px;
        }
        a {
          color: $home_body;
          &:hover {
            color: $home_secondary;
          }
        }
      }
    }
  }
}
.affiliate_bradcam_area {
  background-color: #f7faff;
  padding: 115px 0 337px 0;
  background-image: url(../img/affiliate/affiliate_bg_1.jpg);
  background-size: cover;
  background-position: center center;
  @media #{$tab} {
    padding: 100px 0;
  }
  .breadcam_text {
    max-width: 780px;
    margin: auto;
    span {
      font-size: 16px;
      font-weight: 700;
      color: $home_secondary;
      margin-bottom: 18px;
      display: block;
    }
    h3 {
      font-size: 50px;
      font-weight: 700;
      line-height: 1.4;
      color: $home_primary;
      margin-bottom: 0;
      @media #{$tab} {
        font-size: 30px;
      }
    }
    p {
      font-size: 18px;
      font-weight: 400;
      color: $home_body;
      margin: 20px 0 43px 0;
      @media #{$tab} {
        font-size: 16px;
        margin: 15px 0 30px 0;
      }
    }
  }
}
