.theme_btn {
  background: $home_primary4;
  @include border-radius(5px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $white;
  font-weight: 500;
  padding: 13.5px 47px;
  border: 1px solid transparent;
  text-transform: capitalize;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  &.small_btn {
    padding: 13.5px 25px;
  }
  &.large_btn {
    padding: 18.5px 30px;
  }
  &.small_btn2 {
    padding: 13.5px 39px;
  }
  &.small_btn3 {
    padding: 13.5px 32px;
  }
  &.small_btn4 {
    padding: 11px 21px;
  }
  &.small_btn5 {
    padding: 8.5px 20px;
  }
  @media #{$small_mobile} {
    padding: 15px 16px;
  }
  &.green_btn {
    background: #54c254 !important;
    padding: 8.5px 18px;
    color: #fff !important;
    border-color: #54c254 !important ;
    font-size: 16px;
  }
  &.width_120px {
    width: 120px;
    padding: 13.5px 7px;
    text-align: center;
  }
  &.width_210px {
    min-width: 210px;
    padding: 13.5px 20px;
    text-align: center;
  }
  &:hover {
    color: $home_primary4;
    border-color: $home_primary4;
    background: transparent;
  }
}
.theme_btn2 {
  background: transparent;
  @include border-radius(0px);
  display: inline-block;
  font-family: $font2;
  font-size: 14px;
  color: $home_secondary;
  font-weight: 600;
  padding: 16px 42px;
  border: 1px solid $home_secondary;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  letter-spacing: 2.24px;
  @media #{$small_mobile} {
    padding: 13px 30px;
  }
  &.width_120px {
    width: 120px;
    padding: 13.5px 7px;
    text-align: center;
  }
  &:hover {
    color: $white;
    border-color: $home_secondary;
    background: $home_secondary;
  }
}
.black_btn {
  background: $black;
  @include border-radius(0px);
  display: inline-block;
  font-family: $font2;
  font-size: 14px;
  color: $white;
  font-weight: 600;
  padding: 13.5px 41px;
  border: 1px solid transparent;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  letter-spacing: 2.24px;
  &.large {
    padding: 16px 41px;
    @media #{$small_mobile} {
      padding: 13px 30px;
    }
  }
  @media #{$small_mobile} {
    padding: 13px 30px;
  }
  &:hover {
    color: $black;
    border-color: $black;
    background: transparent;
  }
}
.yellow_btn {
  background: #fec801;
  @include border-radius(0px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $home_secondary;
  font-weight: 700;
  padding: 18.5px 31px;
  border: 1px solid transparent;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  @media #{$small_mobile} {
    padding: 13px 30px;
  }
  &:hover {
    color: #fec801;
    border-color: #fec801;
    background: transparent;
  }
}
.line_btn {
  display: inline-flex;
  align-items: center;
  color: #fd1c5e;
  font-size: 14px;
  font-weight: 500;
  &:hover {
    color: #fd1c5e;
  }
}

.raduis_30px {
  border-radius: 30px !important;
}

.green_round_btn {
  background: $home_secondary;
  font-size: 14px;
  font-weight: 500;
  color: $white;
  border-radius: 30px;
  padding: 7px 13px;
  display: inline-block;
  &:hover {
    color: $white;
  }
}
.round_line_btn {
  background: $white;
  font-size: 14px;
  font-weight: 500;
  color: $home_primary;
  border-radius: 30px;
  padding: 6px 14px;
  display: inline-block;
  border: 1px solid #f3f3f3;
  font-family: $font1;
  &:hover {
    color: $white;
    background: $home_primary;
    border-color: $home_primary;
  }
}

// home 2 btns
.theme_btn4 {
  background: $home_secondary;
  @include border-radius(5px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $white;
  font-weight: 700;
  padding: 13.5px 39px;
  border: 1px solid transparent;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  @media #{$small_mobile} {
    padding: 15px 25px;
  }
  &:hover {
    color: $home_secondary;
    border-color: $home_secondary;
    background: transparent;
  }
}

.white_btn {
  background: $white;
  @include border-radius(0px);
  display: inline-block;
  font-family: $font2;
  font-size: 14px;
  color: $home_secondary;
  font-weight: 700;
  padding: 18.5px 60px;
  border: 1px solid transparent;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  &.large {
    padding: 16px 41px;
    @media #{$small_mobile} {
      padding: 13px 30px;
    }
  }
  @media #{$small_mobile} {
    padding: 13px 30px;
  }
  &:hover {
    color: $white;
    border-color: $white;
    background: transparent;
  }
  &.style2 {
    border-radius: 5px;
    font-size: 14px;
    font-family: $font1;
    color: #0d0d0d;
    font-weight: 700;
    padding: 16px 41px;
    &:hover {
      color: $white;
      border-color: $white;
      background: transparent;
    }
  }
  &.style3 {
    border-radius: 3px;
    font-size: 14px;
    font-family: $font1;
    color: #0d0d0d;
    font-weight: 700;
    padding: 9px 14px 8px 14.5px;
    &:hover {
      color: $white;
      border-color: $white;
      background: transparent;
    }
  }
  &.style4 {
    border-radius: 3px;
    font-size: 14px;
    font-family: $font1;
    color: $white;
    font-weight: 700;
    padding: 8px 14px 8px 14px;
    border: 1.5px solid #fff;
    background: transparent;
    text-transform: uppercase;
    &:hover {
      color: $home_primary;
      border-color: $white;
      background: $white;
    }
  }
  &.style5 {
    border-radius: 5px;
    font-size: 14px;
    font-family: $font1;
    color: #0d0d0d;
    font-weight: 700;
    padding: 16px 46px;
    &:hover {
      color: $white;
      border-color: #0d0d0d;
      background: #0d0d0d;
    }
  }
}
.violate_btn {
  background: #7c31fe;
  @include border-radius(5px);
  display: inline-block;
  font-family: $font1 !important;
  font-size: 14px;
  color: $white;
  font-weight: 700;
  border: 1px solid transparent;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  padding: 16px 44px;
  @media #{$small_mobile} {
    padding: 13px 30px;
  }
  &.style_2 {
    border-radius: 30px;
    padding: 8.5px 17px;
  }
  &:hover {
    color: #7c31fe;
    border-color: #7c31fe;
    background: $white;
  }
}
// home 3 btns
.home3_theme_btn {
  background: $home_secondary;
  @include border-radius(0px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $white;
  font-weight: 700;
  padding: 18.5px 34px;
  border: 1px solid transparent;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  @media #{$small_mobile} {
    padding: 15px 25px;
  }
  &.small_btn {
    padding: 13.5px 45px;
  }
  &:hover {
    color: $home_secondary;
    border-color: $home_secondary;
    background: transparent;
  }
}

/* -------------------------------------------------------------------------- */
/*                                 home 4 btns                                */
/* -------------------------------------------------------------------------- */
.home4_theme_btn {
  background: $home_secondary;
  @include border-radius(5px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $white;
  font-weight: 700;
  padding: 13.5px 42px;
  border: 1px solid transparent;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  @media #{$small_mobile} {
    padding: 15px 25px;
  }
  &.small_btn {
    padding: 13.5px 45px;
  }
  &:hover {
    color: $home_secondary;
    border-color: $home_secondary;
    background: transparent;
  }
}

.home4_secondary_btn {
  background: #d14031;
  @include border-radius(0px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $white;
  font-weight: 700;
  padding: 18.5px 42px;
  border: 1px solid transparent;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  @media #{$small_mobile} {
    padding: 15px 25px;
  }
  &.small_btn {
    padding: 13.5px 45px;
  }
  &:hover {
    color: #d14031;
    border-color: #d14031;
    background: transparent;
  }
}

/* -------------------------------------------------------------------------- */
/*                                    home5                                   */
/* -------------------------------------------------------------------------- */

.home5_primary_btn {
  background: $home_secondary;
  @include border-radius(5px);
  display: inline-block;
  font-family: $font1;
  font-size: 16px;
  color: $white;
  font-weight: 700;
  padding: 17px 27px;
  border: 1px solid transparent;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  @media #{$small_mobile} {
    padding: 12px 18px;
    font-size: 14px;
  }
  &.small_btn {
    padding: 13.5px 45px;
  }
  &:hover {
    color: $home_secondary;
    border-color: $home_secondary;
    background: transparent;
  }
}

/* -------------------------------------------------------------------------- */
/*                                    home5                                   */
/* -------------------------------------------------------------------------- */

.home6_primary_btn {
  background: $home_secondary;
  @include border-radius(5px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $white;
  font-weight: 700;
  padding: 18.5px 33px;
  border: 1px solid transparent;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  @media #{$small_mobile} {
    padding: 12px 18px;
  }
  &.small_btn {
    padding: 14px 45px 13px 44px;
  }
  &:hover {
    color: $home_secondary;
    border-color: $home_secondary;
    background: transparent;
  }
}
.home6_primary_btn2 {
  background: $white;
  @include border-radius(5px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $home_secondary;
  font-weight: 700;
  padding: 14px 18px 13px 18px;
  border: 1px solid transparent;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  @media #{$small_mobile} {
    padding: 12px 18px;
  }
  &.small_btn {
    padding: 13.5px 45px;
  }
  &:hover {
    color: $white;
    border-color: $home_secondary;
    background: $home_secondary;
  }
}

/* -------------------------------------------------------------------------- */
/*                                    home7                                   */
/* -------------------------------------------------------------------------- */
.home7_primary_line {
  font-size: 14px;
  font-weight: 800;
  color: $home_secondary !important;
  font-family: $font1;
  display: inline-block;
  text-transform: uppercase;
}
.home7_primary_btnWhite {
  background: $white;
  @include border-radius(5px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $home_secondary;
  font-weight: 700;
  padding: 18.5px 33px;
  border: 1px solid transparent;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  @media #{$small_mobile} {
    padding: 12px 18px;
  }
  &.small_btn {
    padding: 13.5px 45px;
  }
  &:hover {
    color: $white;
    border-color: $home_secondary;
    background: $home_secondary;
  }
}

.home7_primary_btn {
  background: $home_secondary;
  @include border-radius(5px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $white;
  font-weight: 700;
  padding: 18.5px 33px;
  border: 1px solid transparent;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  @media #{$small_mobile} {
    padding: 12px 18px;
  }
  &.small_btn {
    padding: 13.5px 41px;
  }
  &:hover {
    color: $home_secondary;
    border-color: $home_secondary;
    background: transparent;
  }
}

// home8
.home8_primary_btn {
  background: $white;
  @include border-radius(30px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $home_secondary;
  font-weight: 700;
  padding: 18.5px 50px;
  border: 1px solid transparent;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  @media #{$small_mobile} {
    padding: 12px 18px;
  }
  &.small_btn {
    padding: 13.5px 41px;
  }
  &:hover {
    color: $white;
    border-color: $home_secondary;
    background: $home_secondary;
  }
}
.home8_primary_btn2 {
  background: $home_secondary;
  @include border-radius(30px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $white;
  font-weight: 700;
  padding: 18.5px 62px;
  border: 1px solid transparent;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  @media #{$small_mobile} {
    padding: 12px 18px;
  }
  &.small_btn {
    padding: 13.5px 41px;
  }
  &:hover {
    color: $white;
    border-color: $home_secondary;
    background: $home_secondary;
  }
}

.home8_primary_line {
  font-size: 16px;
  font-weight: 700;
  color: $home_secondary !important;
  font-family: $font1;
  display: inline-block;
  text-transform: capitalize;
}

.home8_primary_line2 {
  font-size: 14px;
  font-weight: 800;
  color: $home_secondary !important;
  font-family: $font1;
  display: inline-block;
  text-transform: uppercase;
}

.home8_readMore_link {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  color: $home_primary;
  position: relative;
  text-transform: uppercase;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background: rgba(237, 7, 139, 0.4);
    bottom: -5px;
    left: 0;
    transition: 0.3s;
  }
  &:hover {
    color: $home_secondary;
    &::before {
      background: #ed078b;
    }
  }
}

// home9 btn

.home9_primary_btn {
  background: $home_secondary;
  @include border-radius(0px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $white;
  font-weight: 700;
  padding: 18.5px 50px;
  border: 1px solid transparent;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  @media #{$small_mobile} {
    padding: 12px 18px;
  }
  &.small_btn {
    padding: 13.5px 41px;
  }
  &:hover {
    color: $home_secondary;
    border-color: $home_secondary;
    background: transparent;
  }
}

.home9_primary_line {
  border: 0;
  font-size: 14px;
  font-weight: 700;
  color: $home_secondary !important;
  font-family: $font1;
  display: inline-block;
  text-transform: uppercase;
}

.home9_primary_btn2 {
  background: $white;
  @include border-radius(0px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $home_secondary;
  font-weight: 700;
  padding: 18.5px 50px;
  border: 1px solid transparent;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  @media #{$small_mobile} {
    padding: 12px 18px;
  }
  &.small_btn {
    padding: 13.5px 41px;
  }
  &:hover {
    color: $white;
    border-color: $home_secondary;
    background: $home_secondary;
  }
}

// home10 btns
.home10_primary_btn {
  @include border-radius(0px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $home_primary;
  font-weight: 700;
  padding: 13.5px 23px;
  border: 1px solid #272727;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  @media #{$small_mobile} {
    padding: 12px 18px;
  }
  img {
    margin-left: 19px;
    position: relative;
    left: 0;
    transition: 0.3s;
  }
  &.large_btn {
    padding: 13.5px 28px;
    @media #{$small_mobile} {
      padding: 12px 18px;
    }
    &:hover {
      color: $white;
      background: $home_primary;
    }
  }
  &.small_btn {
    padding: 13.5px 25px;
  }
  &:hover {
    color: $home_primary;
    img {
      left: 2px;
    }
  }
}

.home10_primary_line {
  border: 0;
  font-size: 14px;
  font-weight: 700;
  color: $home_primary !important;
  font-family: $font1;
  display: inline-block;
  text-transform: uppercase;
  &.style2 {
    color: #456245 !important;
    &::before {
      background: #456245 !important;
    }
    &:hover {
      color: #456245 !important;
      &::before {
        background: #456245 !important;
      }
    }
  }
  &.style3 {
    color: #3482b7 !important;
    font-family: $font1;
    &::before {
      background: #3482b7 !important;
    }
    &:hover {
      color: #3482b7 !important;
      &::before {
        background: #3482b7 !important;
      }
    }
  }
  &.style4 {
    font-size: 16px;
    font-weight: 700;
    color: $home_primary;
    font-family: $font1;
    &::before {
      left: 0;
      right: 0;
      bottom: 2px;
    }
  }
  &.style5 {
    font-size: 14px;
    font-weight: 700;
    color: $home_primary;
    font-family: $font1;
    &::before {
      left: 0;
      right: 0;
      bottom: 2px;
      display: none !important;
    }
  }
  &:hover {
    color: $home_primary !important;
    &::before {
      background: $home_primary;
    }
  }
  &::before {
    position: absolute;
    content: "";
    background: $home_primary;
    height: 1px;
    left: 0;
    right: -4px;
    bottom: -2px;
  }
}

.home10_primary_btn2 {
  background: $home_secondary;
  @include border-radius(5px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $white;
  font-weight: 500;
  padding: 13.5px 47px;
  border: 1px solid transparent;
  text-transform: capitalize;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  @media #{$small_mobile} {
    padding: 12px 25px;
  }
  &.small_btn {
    padding: 8.5px 23px;
  }
  &.large_btn {
    padding: 18.5px 47px;
    @media #{$small_mobile} {
      padding: 14px 25px;
    }
  }
  &.min_160px {
    min-width: 160px;
    text-align: center;
    padding: 13.5px 0px;
  }
  &.min_180px {
    min-width: 180px;
    text-align: center;
    padding: 13.5px 0px;
    font-weight: 700;
  }
  &.f_w_700 {
    font-weight: 700;
  }
  &:hover {
    color: $home_secondary;
    border-color: $home_secondary;
    background: transparent;
  }
}

.home10_primary_btn3 {
  @include border-radius(5px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $white;
  font-weight: 700;
  padding: 13.5px 27px;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  background-color: $home_secondary;
  border: 1px solid transparent;
  @media #{$small_mobile} {
    padding: 12px 18px;
  }
  &:hover {
    color: $home_secondary;
    border-color: $home_secondary;
    background: $white;
  }
}

.home10_primary_btn4 {
  @include border-radius(2px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $home_secondary;
  font-weight: 700;
  padding: 13.5px 32px;
  border: 1.5px solid $home_secondary;
  text-transform: capitalize;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  &.radius_5px {
    @include border-radius(5px);
  }
  &.small_btn {
    padding: 6px 14px 4px 14px;
    font-size: 12px;
  }
  @media #{$small_mobile} {
    padding: 12px 18px;
  }
  &.min_180px {
    min-width: 180px;
    text-align: center;
    padding: 13.5px 10px;
    font-weight: 700;
  }
  &:hover {
    color: $white;
    background: $home_secondary;
    border-color: $home_secondary;
  }
}

.home10_primary_white {
  @include border-radius(5px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $home_body;
  font-weight: 700;
  padding: 19.5px 48px;
  border: 0;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: $white;
  min-width: 200px;
  text-align: center;
  @media #{$small_mobile} {
    padding: 15px 25px;
  }
  &:hover {
    color: $white;
    background: $home_primary;
  }
}

// home 11 btns
.home11_theme_btn {
  background: $home_secondary;
  @include border-radius(0px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $white;
  font-weight: 700;
  padding: 18.5px 34px;
  border: 1px solid transparent;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  @media #{$small_mobile} {
    padding: 15px 25px;
  }
  &.small_btn {
    padding: 13.5px 45px;
  }
  &.min_200 {
    min-width: 200px;
    text-align: center;
  }
  &:hover {
    color: $home_secondary;
    border-color: $home_secondary;
    background: transparent;
  }
}

.home11_primary_btn2 {
  background: $white;
  @include border-radius(5px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $home_secondary;
  font-weight: 700;
  padding: 11px 25px 11px 25px;
  border: 1px solid transparent;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  @media #{$small_mobile} {
    padding: 11px 18px;
  }
  &.small_btn {
    padding: 13.5px 45px;
  }
  &:hover {
    color: $white;
    border-color: $home_secondary;
    background: $home_secondary;
  }
}

// updated btns
.header_primary_btn {
  @include border-radius(30px);
  display: inline-block;
  font-family: $font1 !important;
  font-size: 14px;
  color: $white;
  font-weight: 700;
  padding: 13.5px 30px;
  border: 1px solid #2e81ca;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  background: #2e81ca;
  @media #{$small_mobile} {
    padding: 12px 18px;
  }
  &:hover {
    color: #2e81ca;
    background: $white;
    border-color: #2e81ca;
  }
}

// home
.amaz_primary_btn {
  background: $home_secondary;
  @include border-radius(0px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $white;
  font-weight: 700;
  padding: 18.5px 24px;
  border: 1px solid transparent;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @media #{$tab} {
    padding: 13.5px 20px;
  }
  &.small_btn {
    padding: 8.5px 14px;
    min-width: 100px;
    font-size: 14px;
  }
  &.style2 {
    padding: 14.5px 24px 12.5px 24px;
  }
  &.style3 {
    padding: 10px 15px 7px 15px;
    min-width: 100px;
  }
  &.style4 {
    padding: 10px 15px 7px 15px;
    min-width: 100px;
  }
  &.style5 {
    padding: 14.5px 24px 12.5px 24px;
    min-width: 120px;
  }
  &.style6 {
    padding: 16.5px 24px 15.5px 24px;
  }
  &.style7 {
    padding: 10px 15px 7px 15px;
    min-width: 109px;
  }
  &.style8 {
    padding: 4px 9px 3px 9px;
  }
  &.gray_bg_btn {
    background-color: #f5f8fa;
    color: $home_primary;
    padding: 11px 15px;
  }
  &.min_200 {
    min-width: 200px;
    text-align: center;
  }
  &.min_220 {
    min-width: 220px;
  }
  &.min_160 {
    min-width: 160px;
    text-align: center;
  }
  &.min_100 {
    min-width: 100px;
    text-align: center;
  }
  &.min_180 {
    min-width: 180px;
    text-align: center;
  }
  &.radius_5px {
    @include border-radius(5px);
  }
  &.radius_3px {
    @include border-radius(3px);
  }
  &:hover {
    color: $white;
    border-color: $home_primary;
    background: $home_primary;
  }
}
.amaz_primary_btn2 {
  background: $white;
  @include border-radius(0px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $home_secondary;
  font-weight: 700;
  padding: 17.5px 24px;
  border: 2px solid $home_secondary;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @media #{$tab} {
    padding: 13.5px 20px;
  }
  &.small_btn {
    padding: 8.5px 14px;
    min-width: 100px;
    font-size: 14px;
  }
  &.style2 {
    padding: 12.5px 24px;
  }
  &.style3 {
    border: 1.5px solid $home_secondary;
    padding: 13.5px 24px;
  }
  &.radius_5px {
    @include border-radius(5px);
  }
  &.min_200 {
    min-width: 200px;
    text-align: center;
  }
  &.min_160 {
    min-width: 160px;
    text-align: center;
  }
  &.min_180 {
    min-width: 180px;
    text-align: center;
  }
  &:hover {
    color: $white;
    border-color: $home_secondary;
    background: $home_secondary;
  }
}
.amaz_primary_btn3 {
  @include border-radius(0px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $home_secondary;
  font-weight: 700;
  padding: 14px 32px 13px 32px;
  border: 1px solid $home_secondary;
  text-transform: capitalize;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  background: $white;
  &.round_style {
    @include border-radius(30px);
    padding: 4px 10px 3px 10px;
  }
  &.radius_5px {
    @include border-radius(5px);
  }
  &.small_btn {
    padding: 6px 14px 4px 14px;
    font-size: 12px;
  }
  @media #{$small_mobile} {
    padding: 12px 18px;
  }
  &.min_180px {
    min-width: 180px;
    text-align: center;
    padding: 13.5px 10px;
    font-weight: 700;
  }
  &.min_140 {
    min-width: 140px;
  }
  &:hover {
    color: $white;
    background: $home_secondary;
    border-color: $home_secondary;
  }
}
.amaz_white_btn {
  background: $white;
  @include border-radius(0px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $home_secondary;
  font-weight: 700;
  padding: 17px 24px;
  border: 1px solid transparent;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &.small_btn {
    padding: 13.5px 45px;
  }
  &.min_200 {
    min-width: 200px;
    text-align: center;
  }
  &.min_160 {
    min-width: 160px;
    text-align: center;
  }
  &.min_170 {
    min-width: 170px;
    text-align: center;
  }
  &.min_180 {
    min-width: 180px;
    text-align: center;
  }
  &:hover {
    color: $white;
    border-color: $home_primary;
    background: $home_primary;
  }
}

.amazy_readMore_link {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  color: $home_primary;
  position: relative;
  text-transform: uppercase;
  &::before {
    content: "";
    position: absolute;
    height: 5px;
    background: rgba($home_secondary, 0.1);
    bottom: -5px;
    left: 0;
    right: -5px;
    transition: 0.3s;
  }
  &:hover {
    color: $home_secondary;
    &::before {
      background: $home_secondary;
    }
  }
}

// dashboard elements
.amaz_badge_btn {
  padding: 5px 11px 4px 11px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  color: $home_secondary;
  background: rgba($home_secondary, 0.1);
  border-radius: 5px;
  &:hover {
    background: $home_secondary;
    color: $white;
  }
}
.amaz_badge_btn2 {
  padding: 5px 10px 4px 11px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: $home_primary;
  background: #f5f8fa;
  border-radius: 3px;
  &:hover {
    background: $home_secondary;
    color: $white;
  }
}
.amaz_badge_btn3 {
  padding: 5px 10px 4px 11px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: $home_secondary;
  background: rgba($home_secondary, 0.1);
  border-radius: 3px;
  &:hover {
    background: $home_secondary;
    color: $white;
  }
}
.amaz_badge_btn4 {
  padding: 5px 15.5px 4px 15.5px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: $body_text;
  border-radius: 3px;
  background-color: #f5f8fa;
  &:hover {
    background: $home_secondary;
    color: $white;
  }
}
.amaz_badge_btn5 {
  padding: 8px 15.5px 6px 15.5px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: $home_primary;
  border-radius: 3px;
  background-color: #f5f8fa;
  &:hover {
    background: $home_secondary;
    color: $white;
  }
}
.amaz_badge_btn6 {
  padding: 9px 11px 8px 11px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: $home_secondary;
  border-radius: 3px;
  background-color: rgba($home_secondary, 0.1);
  &:hover {
    background: $home_secondary;
    color: $white;
  }
}
.amaz_badge_btn7 {
  padding: 5px 15px 4px 15px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: $home_secondary;
  border-radius: 3px;
  background-color: rgba($home_secondary, 0.1);
  &:hover {
    background: $home_secondary;
    color: $white;
  }
}
.table_badge_btn {
  padding: 3.5px 16px;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  color: #fec600;
  background-color: #fff8dd;
  border-radius: 3px;
  &.style2 {
    color: #199ef7;
    background-color: #ebf8ff;
    &:hover {
      background: #199ef7;
      color: $white;
    }
  }
  &.style3 {
    color: #f1416c;
    background-color: #fff5f8;
    &:hover {
      background: #f1416c;
      color: $white;
    }
  }
  &.style4 {
    color: #50cd89;
    background-color: #e7fff3;
    &:hover {
      background: #e7fff3;
      color: $home_primary;
    }
  }
  &:hover {
    background: #fec600;
    color: $white;
  }
}

.line_badge_btn {
  padding: 4px 16px 3px 16px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  border-radius: 30px;
  border: 1px solid $home_secondary;
  min-width: 96px;
  color: $home_secondary;
  &:hover {
    background: $home_secondary;
    border-color: $home_secondary;
    color: $white;
  }
}
.line_badge_btn2 {
  padding: 4px 16px 3px 16px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  border-radius: 30px;
  border: 1px solid #eef0f4;
  min-width: 96px;
  color: $body_text;
  background: #fcfdfd;
  &:hover {
    background: $home_secondary;
    border-color: $home_secondary;
    color: $white;
  }
}
.line_badge_btn3 {
  border-radius: 5px;
  padding: 7px 14px;
  transition: 0.3s;
  display: inline-block;
}

.amazy_status_btn {
  border-radius: 5px;
  border: 1px solid #f1f1f1;
  background-color: #f9f9fd;
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.amazy_dropdwn {
  .btn {
    padding: 6px 15px 6px 15px;
    border-radius: 3px !important;
    background-color: #f5f8fa;
    font-size: 14px;
    font-weight: 400;
    color: $body_text;
    min-width: 94px;
    text-align: left;
    &.show {
      color: $home_secondary;
    }
    &::before {
      position: absolute;
      right: 15px;
      content: "\e64b";
      font-size: 8px;
      color: $body_text;
      font-family: "themify";
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .dropdown-menu {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    padding: 14px 0;
    border: 0;
    li {
      .dropdown-item {
        padding: 0;
        font-size: 12px;
        font-weight: 500;
        color: $body_text;
        padding: 4px 20px;
        &:hover {
          background: transparent;
          color: $home_secondary;
        }
      }
    }
  }
}

.green_badge {
  font-size: 14px;
  font-weight: 700;
  color: $white;
  background-color: #29c489;
  border-radius: 3px;
  padding: 2px 9px;
  display: inline-block;
}
