.career_details_area {
  .career_details_top {
    display: flex;
    align-items: center;
    @media #{$tab} {
      flex-wrap: wrap;
    }
    @media #{$tab2} {
      flex-wrap: wrap;
    }
    @media #{$lg_device} {
      flex-wrap: wrap;
    }
    @media #{$large_xl} {
      flex-wrap: wrap;
    }
    .job_tag {
      margin-right: 26px;
      margin-bottom: 20px;
    }
    .career_details_info {
      display: flex;
      align-items: center;

      @media #{$small_mobile} {
        flex-wrap: wrap;
      }

      @media #{$large_mobile} {
        flex-wrap: wrap;
      }

      @media #{$lg_device} {
        flex-wrap: wrap;
      }

      @media #{$large_xl} {
        flex-wrap: wrap;
      }
      .single_details_info {
        display: inline-flex;
        align-items: center;
        margin-bottom: 20px;
        &:not(:last-child) {
          margin-right: 55px;
          @media #{$small_mobile} {
            margin-right: 15px;
          }
          @media #{$large_mobile} {
            margin-right: 15px;
          }
          @media #{$tab2} {
            margin-right: 25px;
          }
        }
        i {
          font-size: 18px;
          color: $home_primary;
          margin-right: 7px;
        }
        span {
          font-size: 16px;
          font-weight: 500;
          color: $home_body;
        }
      }
    }
  }
  .career_details_banner {
    margin-bottom: 32px;
    img {
      width: 100%;
    }
  }
  .note_text {
    margin: 30px 0 35px 0;
    p {
      font-size: 16px;
      font-weight: 600;
      color: $home_primary;
      line-height: 1.63;
    }
  }
  .career_details_list {
    margin-bottom: 30px;
    h4 {
      font-weight: 600;
      margin-bottom: 12px;
    }
    .details_lists {
      li {
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        color: $home_body;
      }
    }
  }
  .appliication_deadline {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 56px;
    span {
      font-weight: 600;
      color: $home_primary;
    }
  }
}
