.checkout_wrapper {
  .checkout_widget_box {
    padding: 28px 40px 40px 40px;
    margin-bottom: 60px;
    @media #{$tab} {
      margin-bottom: 30px;
      padding: 25px;
    }
    p {
      font-family: $font1;
      font-size: 16px;
      color: $home_primary;
      font-weight: 400;
      line-height: 1.75;
    }
    .forgot_text {
      color: #5dabfc;
      font-family: $font1;
      &:hover {
        color: $home_secondary;
      }
    }
  }
  .billing_details_wrapper {
    .billing_details_box {
      .billing_details_single {
        &:not(:last-child) {
          padding-bottom: 38px;
        }
      }
      .billing_details_box_head {
        background-color: #f9f9fd;
        padding: 10px 20px;
      }
      .billing_details_box_body {
        .billing_details_box_body_inner {
          padding: 30px 20px 20px 20px;
          grid-column-gap: 80px;
          @media #{$tab} {
            flex-wrap: wrap;
            grid-gap: 30px;
          }
          .billing_details_box_single_address {
            position: relative;
            max-width: 237px;
            flex: 237px 0 0;
            &:not(:last-child) {
              &::before {
                position: absolute;
                content: "";
                height: 70px;
                width: 1px;
                background: #f1ece8;
                right: -40px;
                top: 0;
                @media #{$tab} {
                  display: none;
                }
              }
            }
            .bilig_address_text {
              margin-bottom: 10px;
              .bilig_actions {
                grid-gap: 5px;
                align-items: center;
                justify-content: center;
                top: -2px;
                button {
                  background: transparent;
                  border: 0;
                  padding: 0;
                }
              }
              h4 {
              }
            }
            p {
              line-height: 1.29;
              color: $body_text;
            }
          }
        }
      }
    }
  }
  .order_wrapper {
    border: 2px solid #f1ece8;
    padding: 35px 40px 40px 40px;
    @media #{$tab} {
      padding: 25px;
    }
    .ordered_products {
      .single_ordered_product {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        @media #{$small_mobile} {
          flex-wrap: wrap;
        }
        .product_name {
          .thumb {
            width: 140px;
            height: 80px;
            margin-right: 20px;
            img {
              width: 100%;
            }
          }
          span {
            font-size: 16px;
            font-weight: 400;
            color: $home_primary;
          }
        }
        .order_prise {
          font-size: 16px;
          font-weight: 500;
          color: $home_primary;
        }
      }
    }
    .ordered_products_lists {
      margin-bottom: 16px;
      .single_lists {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-top: 1px solid #e1e2e6;
        padding: 19.5px 0;
        grid-gap: 34px;
        .coupon_value {
          width: 130px;
          height: 40px;
          border-radius: 5px;
          border: 1px solid #e1e2e6;
          padding: 11px 23px;
          font-size: 14px;
          font-weight: 600;
          font-family: $font1;
          text-transform: uppercase;
          color: #fd1c5e;
          background: #f9f9fd;
        }
        span {
          &.total_text {
            color: $home_primary;
            font-size: 16px;
            font-weight: 700;
            font-family: $font1;
            flex: 218px 0 0;
            @media #{$tab} {
              flex: 1 1 auto;
            }
          }
          &.total_prise {
            color: $body_text;
            font-family: $font1;
            font-size: 16px;
            &.mark_text {
              color: $home_secondary;
              font-weight: 700;
            }
          }
        }
      }
      .select_list {
        .primary_checkbox {
          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }
    }
    .shiping_billing_list {
      border-top: 1px solid #e1e2e6;
      border-bottom: 1px solid #e1e2e6;
      padding: 30px 0 8px 0;
      margin-bottom: 55px;
      .single_shiping_billing {
        margin-bottom: 19px;
        p {
          margin-bottom: 0;
          font-size: 14px;
          color: #676e8b;
          max-width: 247px;
          padding-left: 35px;
          padding-top: 5px;
          line-height: 26px;
          margin-bottom: 14px;
        }
        .single_shiping_Inner {
          justify-content: space-between;
          span {
            cursor: pointer;
          }
          .shiping_info {
            i {
              font-size: 18px;
              font-weight: 400;
              color: $home_primary4;
              margin-right: 15px;
            }
          }
        }
      }
    }
    .bank_transfer {
      .single_transfer {
        border: 1px solid #e1e2e6;
        .transfer_head {
          padding: 12px 20px;
          border-bottom: 1px solid #e1e2e6;
          h4 {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 0;
          }
        }
        .transfer_body {
          padding: 11px 20px 13px 20px;
          p {
            font-size: 16px;
            color: #686868;
            line-height: 1.71;
          }
        }
      }
    }
  }
  .checkout_return_text {
    display: flex;
    align-items: center;
    grid-gap: 15px;
    i {
      font-size: 16px;
      color: #676e8b;
    }
    p {
      font-size: 16px;
      font-weight: 500;
      font-family: $font1;
      color: $home_primary;
      margin-bottom: 0;
      a {
        color: $home_secondary;
      }
    }
  }
}

.billing_payment_methods {
  button {
    background: $white;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    padding: 0 10px;
  }
}
.bank_transfer_label {
  .primary_checkbox {
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }
}

.without_address_notify {
  border-radius: 3px;
  border: 1px solid #f1ece8;
  font-size: 14px;
  font-weight: 500;
  color: $body_text;
  min-width: 220px;
  text-align: center;
  padding: 23px 20px;
}
