.comparison_lists {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    color: #687083;
    font-size: 14px;
    font-weight: 400;
    background: #fff;
    padding: 12px 23px 12px 30px;
    &:nth-child(2n - 1) {
      background: #f6f8fa;
    }
  }
  &.style2 {
    text-align: right;
    @media #{$tab} {
      text-align: left;
    }
    li {
      color: #00124e;
    }
  }
}
.compare_product {
  border: 1px solid #e9e7e7;
  padding: 0;
  margin-bottom: 0;
  border-bottom: 0;
  .compare_product_inner {
    padding: 25px;
    border-bottom: 1px solid #e9e7e7;
  }
}
.compare_product_active {
  .owl-nav {
    button {
      height: 40px;
      width: 40px;
      border: 1px solid #e9e7e7 !important;
      transition: 0.3s;
      background: #f0f1f3 !important;
      border-radius: 50%;
      position: absolute;
      left: -20px;
      top: 20%;
      &.owl-next {
        left: auto;
        right: -20px;
      }
      &:hover {
        background-color: $home_primary !important;
        border: 1px solid $home_primary !important;
        color: $white !important;
      }
      i {
        line-height: 28px;
      }
    }
    .owl-prev {
      margin-right: 5px;
    }
  }
}

.comparing_box_area {
  // display: flex;

  display: flex;
  @media #{$tab} {
    flex-direction: column;
  }
  .compare_product_descList {
    width: 150px;
    flex: 150px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid #e9e7e7;
    border-right: 0;
    border-bottom: 0 !important;
    @media #{$tab} {
      flex: 100% 0 0;
      width: 100%;
    }
    .compare_product {
      border: 0;
      border-top: 1px solid #e9e7e7;
      border-bottom: 0;
    }
  }
}
.compare_product_carousel {
  width: calc(100% - 150px);
  //   margin-left: -1px;
  border-left: 1px solid #e9e7e7;
  @media #{$tab} {
    width: calc(100% - 0px);
  }
}
.compare_product_carousel {
  .compare_product_active {
    margin-left: -1px;
  }
  .owl-carousel .owl-nav {
    position: unset;
    div {
      width: 35px;
      height: 35px;
      background: #f6f8fa;
      border: 1px solid #e9e7f7;
      color: #090b17;
      position: absolute;
      left: -17.5px;
      top: 144px;
      &.owl-next {
        left: auto;
        right: -17.5px;
        top: 144px;
      }
      &:hover {
        background: $home_secondary;
        border-color: $home_secondary;
        color: $white;
      }
    }
  }
}
.delete_pro {
  top: -10px;
  left: -10px;
  z-index: 11;
}
.reset_compare_text {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: $home_secondary;
  background: transparent;
  border: 0;
  box-shadow: none;
  margin: 20px 0 23px 15px;
  padding: 0;
}
