// sidebar_menu_wrapper
.elemts_sep_bg {
  background: #f3f7f9;
}
.elemts_sidebar {
  position: fixed;
  width: 295px;
  top: 0;
  left: 0;
  min-height: 100vh;
  padding-top: 91px;
  border-right: 1px solid #e3e3e3;
  // overflow-y: auto;
  z-index: 12;
  transition: 0.3s;
  background: #fff;
  &.active {
    left: 0;
  }
  @media #{$tab2} {
    left: -270px;
    width: 270px;
  }
  .sidebar_menu_wrapper_inner {
    position: relative;
    padding: 40px 40px 30px 42px;
    flex: 1 1 0;
    border: 0;
    .elemnts_sidebar_toogler {
      position: absolute;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $home_secondary;
      color: $white;
      font-size: 20px;
      right: -40px;
      top: 0;
      opacity: 0;
      visibility: hidden;
      cursor: pointer;
      @media #{$tab2} {
        opacity: 1;
        visibility: visible;
      }
    }
    .sideber_menu_logo {
      a {
      }
    }
    .sidebar_menu {
      display: flex;
      justify-content: start;
      align-items: center;
      > ul > li {
        &:not(:last-child) {
          border-bottom: 1px solid #ebebeb;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        overflow: auto;
        li {
          &:hover > a {
            color: $home_secondary;
            i {
              color: $home_secondary;
            }
          }
          &.current a {
            color: $home_secondary;
          }
          a {
            font-size: 14px;
            font-weight: 600;
            color: $home_primary;
            text-transform: uppercase;
            padding: 14.5px 0;
            display: block;
            i {
              color: $home_primary;
              font-size: 10px;
            }
            &:hover {
              color: $home_secondary;
              i {
                color: $home_secondary;
              }
            }
          }
          &.has_children {
            .submenu {
              position: absolute;
              width: 209px;
              top: 0;
              left: 100%;
              padding: 40px;
              box-shadow: 2px 0 5px 0px rgba(0, 0, 0, 0.03);
              display: flex;
              align-items: start;
              flex-direction: column;
              background: $white;
              bottom: 0;
              justify-content: center;
              opacity: 0;
              visibility: hidden;
              transition: 0.5s;
              overflow: auto;
              border-right: 1px solid #e3e3e3;
              transform: translateX(1px);
              li {
                width: 100%;
                a {
                  font-size: 14px;
                  font-weight: 600;
                  text-transform: uppercase;
                  padding: 10px 0;
                }
              }
            }
            &:hover {
              .submenu {
                opacity: 1;
                visibility: visible;
                left: 100%;
              }
            }
          }
        }
      }
    }
    .sideber_footer {
      .social_links {
        display: flex;
        align-items: center;
        grid-gap: 5px;
        justify-content: center;
        margin-bottom: 15px;
        a {
          font-size: 12px;
          width: 30px;
          height: 30px;
          background: #f9f9fd;
          border-radius: 50%;
          color: #222222;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            background: $home_secondary;
            color: $white;
          }
        }
      }
      p {
        font-size: 12px;
        font-family: $font1;
        color: #222222;
      }
    }
  }
}
.elemts_body {
  padding-left: 295px;
  @media #{$tab2} {
    padding-left: 0;
  }
  .elemts_body_inner {
  }
}

.elemets_wiz_box {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .elemets_img {
      margin-bottom: 18px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(9, 11, 23, 0.4);
        z-index: 1;
        opacity: 0;
        transition: 0.3s;
      }
    }
    .elemts_wiz_text {
      color: #090b17;
      font-size: 16px;
      font-weight: 700;
      transition: 0.3s;
      font-family: $font1;
    }
    &:hover {
      .elemts_wiz_text {
        color: $home_secondary;
      }
      .elemets_img {
        &::before {
          opacity: 1;
        }
      }
    }
  }
}
