.error_area {
  padding: 150px 0;
  @media #{$tab} {
    padding: 70px 0;
  }
  .error_inner {
    margin: 0 auto;
    text-align: center;
    .thumb {
      // img{
      //     max-width: 302px;
      //     @media #{$tab}{
      //         max-width: 200px;
      //     }
      // }
    }
    h3 {
      font-size: 50px;
      font-weight: 700;
      color: $home_primary;
      margin: 22px 0 15px 0;
      @media #{$tab} {
        font-size: 35px;
      }
    }
    p {
      font-size: 18px;
      font-weight: 500;
      color: $home_body;
      margin-bottom: 37px;
    }
    a {
    }
  }
}
