header.amazcartui_header .header_area {
  padding: 0px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  background: #ffffff;
  &.header_static {
    position: relative;
    padding: 0px 35px 0 35px;
    @media #{$small_mobile} {
      padding: 10px 0px;
    }
    @media #{$medium_device} {
      padding: 10px 0px;
    }
  }
  .header_topbar_area {
    background: $white;
    padding: 0;
    border-bottom: 1px solid #f3f3f3;
    @media #{$lg_device} {
      padding: 0 15px;
    }
    .header__wrapper {
      @media #{$lg_device} {
        padding: 0px 0;
      }
      .header__left {
        grid-gap: 20px;
        .single_top_lists {
          grid-gap: 10px;
          font-size: 12px;
          font-weight: 500;
          color: $home_primary;
          height: 40px;
          text-transform: uppercase;
          a {
            color: $home_primary;
            font-size: 14px;
          }
        }
      }
      .header_middle {
        @media #{$tab2} {
          display: none !important;
        }
        @media #{$lg_device} {
          display: none !important;
        }
        .theme_search_field {
          border: 1.5px solid #f1f1f1;
          background-color: #f9f9fd;
          border-radius: 0;
          width: 410px;
          i {
            color: $home_secondary;
          }
          @media #{$large_xl} {
            width: 310px;
          }
          input {
            font-family: $font1;
            color: $home_primary;
            font-size: 14px;
            &::placeholder {
              color: $home_body;
            }
          }
        }
        .category_menu {
          @media #{$tab} {
            display: none;
          }
          > a {
            font-family: $font1;
            font-size: 14px;
            font-weight: 500;
            box-shadow: none;
            position: relative;
            padding: 0;
            width: 227px;
            justify-content: space-between;
            display: flex;
            align-items: center;
            color: $home_body !important;
            cursor: pointer;
            border: 1.5px solid #f1f1f1;
            background-color: #f9f9fd;
            padding: 14px 30px 13px 20px;
            margin-left: -1px;
            @media #{$large_xl} {
              width: 150px;
            }
            @media #{$tab2} {
              // padding: 20.5px 0 20.5px 32px;
            }
            i {
              color: $home_body !important;
              font-size: 10px;
            }
          }
          .dropdown_menu {
            margin: 0;
            width: 307px;
            border: 0;
            background-color: #fff;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.04);
            border-radius: 0;
            padding: 0;
            top: 100%;
            position: absolute;
            left: 0;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s;
            &.dropdown_menu_active {
              opacity: 1;
              visibility: visible;
            }
            li {
              position: relative;
              &:hover > a {
                color: $home_secondary !important;
                &:before {
                  opacity: 1;
                  right: 15px;
                }
              }
              // menu start ::start
              // menu start ::end
              .submenu_list {
                position: absolute;
                left: 110%;
                top: 0;
                width: 100%;
                background: #fff;
                opacity: 0;
                visibility: hidden;
                transition: 0.3s;
                li {
                  a {
                    text-transform: capitalize;
                  }
                }
              }
              &:hover > ul {
                opacity: 1;
                visibility: visible;
                left: 100%;
              }
            }
            li {
              &:not(:last-child) {
                border-bottom: 1px solid rgba(112, 112, 112, 0.1);
              }
            }
            a {
              padding: 11px 30px 11px 30px;
              font-size: 15px;
              font-weight: 400;
              color: $home_primary;
              line-height: 1.9;
              width: 100%;
              &.has_arrow {
                &::before {
                  content: "\e649";
                  position: absolute;
                  font-size: 14px;
                  font-family: "themify";
                  font-size: 16px;
                  color: $home_primary;
                  right: 20px;
                  top: 50%;
                  transform: translateY(-50%) rotate(0);
                  opacity: 1;
                  transition: 0.3s;
                }
              }
              i {
                font-size: 14px;
                margin-right: 15px;
              }

              &:hover,
              &.active {
                color: $home_primary;
                background-color: #f8f9fa;
              }
            }
          }
        }
      }
      .header_top_area_right {
        grid-gap: 20px;
        display: flex;
        align-items: center;
        .single_top_lists {
          grid-gap: 10px;
          font-size: 12px;
          font-weight: 500;
          color: $home_primary;
          height: 40px;
          text-transform: uppercase;
          a {
            color: $home_primary;
            font-size: 14px;
          }
        }
      }
    }
  }
  .header_top_area {
    background: $white;
    padding: 25px 0px;
    border: 0;
    @media #{$tab2} {
      padding: 17.5px 0px;
    }
    .header__wrapper {
      .header__left {
        @media #{$tab} {
          flex: 1 1 0;
          justify-content: center;
          margin-left: 22px;
        }
        grid-gap: 60px;
        @media #{$big_screen} {
          grid-gap: 30px;
        }
        @media #{$lg_device} {
          grid-gap: 20px;
        }
        .social__Links {
          @media #{$lg_device} {
            display: none !important;
          }
          @media #{$tab2} {
            display: none;
          }
          a {
            color: #808080;
            &:hover {
              color: $white;
            }
          }
        }
      }
      .header_middle {
        flex: 1 1 auto;
        margin: 0 auto 0 100px;
        @media #{$tab2} {
          display: none !important;
        }
        @media #{$lg_device} {
          display: none !important;
        }
        .theme_search_field {
          border: 1.5px solid #f1f1f1;
          background-color: #f9f9fd;
          border-radius: 0;
          width: 410px;
          i {
            color: $home_secondary;
          }
          @media #{$large_xl} {
            width: 310px;
          }
          input {
            font-family: $font1;
            color: $home_primary;
            font-size: 14px;
            &::placeholder {
              color: $home_body;
            }
          }
        }
      }
      .header_top_area_right {
        display: flex;
        align-items: center;
        @media #{$tab} {
          margin-right: 0px;
        }
        .account_reg {
          display: flex;
          align-items: center;
          grid-gap: 40px;
          @media #{$tab} {
            display: none;
          }
          @media #{$lg_device} {
            grid-gap: 15px;
          }
          @media #{$big_screen} {
            grid-gap: 15px;
          }
          p {
            font-size: 15px;
            font-weight: 600;
            color: $white;
            a {
              color: $white;
              text-transform: uppercase;
              &:hover {
                color: $white;
              }
            }
          }
        }
        .lang_currency {
          display: flex;
          align-items: center;
          grid-gap: 15px;
          padding: 27px;
          border-right: 1px solid #333333;
          border-left: 1px solid #333333;
          margin: 0 30px 0 60px;
          @media #{$big_screen} {
            margin: 0 20px 0 30px;
          }
          @media #{$lg_device} {
            margin: 0 15px 0 15px;
          }
          @media #{$tab2} {
            display: none;
          }
        }
        .wish_cart {
          display: flex;
          align-items: center;
          grid-gap: 33px;
          @media #{$tab2} {
            display: none;
          }
          @media #{$lg_device} {
            grid-gap: 15px;
          }
          .single_wishcart_lists {
            display: flex;
            align-items: center;
            grid-gap: 15px;
            @media #{$small_mobile} {
              grid-gap: 5px;
            }
            &:hover span {
              color: $home_secondary;
            }
            span {
              display: inline-block;
              a {
                font-size: 14px;
                font-weight: 500;
                color: $home_primary;
                text-transform: uppercase;
                @media #{$small_mobile} {
                  font-size: 12px;
                }
                &:hover {
                  color: $home_secondary;
                }
              }
            }
          }
        }
      }
    }
  }
  .main_header_area {
    background: #f9f9fd;
    @media #{$medium_device} {
    }
    @media #{$lg_device} {
    }
    @media #{$tab} {
      padding-left: 0;
    }
    .search_right {
      @media #{$tab} {
        width: 100%;
      }
    }
    .theme_search_field3 {
      @media #{$tab} {
        width: 100%;
      }
      @media #{$lg_device} {
        width: 280px;
      }
    }
    .shop_header_wrapper {
      @media #{$medium_device} {
      }
      .menu_logo {
        display: none;
      }
      .theme_search_field {
        display: none;
        @media #{$tab} {
          display: flex !important;
          margin: 9px 0;
          width: 100%;
        }
      }
      .category_menu {
        @media #{$tab} {
          display: none;
        }
        > a {
          font-size: 16px;
          font-weight: 500;
          box-shadow: none;
          font-family: $font1;
          position: relative;
          padding: 13px 30px 13px 65px;
          width: 254px;
          justify-content: space-between;
          display: flex;
          align-items: center;
          color: $white !important;
          cursor: pointer;
          background: $home_secondary;

          @media #{$tab2} {
            padding: 13px 30px 13px 65px;
          }
          i {
            color: $white;
            font-size: 10px;
          }
          &::before {
            content: "";
            position: absolute;
            left: 32px;
            top: 50%;
            height: 12px;
            width: 20px;
            border-bottom: 2px solid $white;
            border-top: 2px solid $white;
            transform: translateY(-50%);
          }
          &::after {
            content: "";
            position: absolute;
            left: 32px;
            top: 50%;
            height: 2px;
            width: 20px;
            border-bottom: 2px solid $white;
            transform: translateY(-50%);
          }
        }
        .dropdown_menu {
          margin: 0;
          width: 330px;
          border: 0;
          background-color: #fff;
          border: 1px solid #e3e3e3;
          border-radius: 0;
          padding: 0;
          top: 100%;
          position: absolute;
          left: 0;
          opacity: 0;
          visibility: hidden;
          transition: 0.3s;
          padding-bottom: 25px;
          padding-top: 11px;
          &.dropdown_menu_active {
            opacity: 1;
            visibility: visible;
          }
          li {
            position: static;
            // fullMneu::start
            .mega_width_menu {
              width: 833px;
              padding: 31px 0 0px 50px;
              display: flex;
              flex-wrap: wrap;
              left: 110%;
              position: absolute;
              top: 0;
              background: #fff;
              box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.05);
              opacity: 0;
              visibility: hidden;
              transition: 0.3s;
              @media #{$medium_device} {
                width: 320px;
              }
              @media #{$lg_device } {
                width: 620px;
              }
              @media #{$large_xl } {
                width: 700px;
              }
              .mega_metu_title {
                font-size: 16px;
                font-weight: 600;
                color: $home_primary;
                border-bottom: 1px solid #f1ece8;
                padding-left: 0;
                left: 0 !important;
                padding: 0;
                padding-bottom: 5px;
                margin-bottom: 10px;
                display: block;
              }
              > li {
                flex: 33.33%;
                padding-right: 50px;
                margin-bottom: 31px;
                ul {
                  li {
                    padding: 0;
                    a {
                      font-size: 14px;
                      font-weight: 400;
                      color: $body_text;
                      left: 0 !important;
                      padding: 0;
                      line-height: 2.5;
                      white-space: nowrap;
                      &:hover {
                        color: $home_secondary;
                      }
                    }
                  }
                }
                &.img_menu {
                  margin-bottom: 0;
                  width: 100% !important;
                  flex: 66.33%;
                  padding-bottom: 121px;
                  h6 {
                    font-size: 14px;
                    font-weight: 500;
                    color: $body_text !important;
                    text-transform: uppercase;
                    display: block;
                    margin-top: 30px;
                  }
                  h4 {
                    font-size: 24px;
                    line-height: 1.42;
                    font-weight: 700;
                    margin: 10px 0 11px 0;
                  }
                  a.shop_now {
                    font-size: 14px;
                    font-weight: 500;
                    display: inline-block;
                    color: $home_secondary;
                    left: 0;
                    padding: 0;
                  }
                }
              }
            }
            // fullMneu::end
            &:hover > a {
              color: $home_primary;
              &:before {
                opacity: 1;
                right: 15px;
              }
            }
            .submenu_list {
              position: absolute;
              left: 110%;
              top: 0;
              width: 100%;
              background: #fff;
              opacity: 0;
              visibility: hidden;
              transition: 0.3s;
              li {
                a {
                  text-transform: capitalize;
                }
              }
            }
            &:hover > ul {
              opacity: 1;
              visibility: visible;
              left: 100%;
            }
          }
          a {
            padding: 11px 30px 10px 30px;
            font-size: 15px;
            font-weight: 500;
            color: $home_primary;
            line-height: 1.9;
            width: 100%;
            position: relative;
            background: transparent;
            grid-gap: 18px;
            &.has_arrow {
              &::before {
                content: "\e649";
                position: absolute;
                font-size: 10px;
                font-family: "themify";
                font-size: 16px;
                color: $home_primary;
                right: 20px;
                top: 50%;
                transform: translateY(-50%) rotate(0);
                opacity: 1;
                transition: 0.3s;
                font-size: 12px;
              }
            }
            svg {
              flex: 20px 0 0;
            }
            i {
              font-size: 20px;
              transition: 0.3s;
            }

            &:hover,
            &.active {
              color: $home_primary;
              i {
                color: $home_secondary;
              }
              &.has_arrow {
                &::before {
                  color: $home_secondary;
                }
              }
            }
          }
        }
      }
    }
  }
  .header__wrapper {
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    .header__left {
      .logo_img {
        @media #{$tab} {
          margin-left: 0px;
          img {
            max-width: 130px;
          }
        }
        @media #{$lg_device} {
          margin-right: 20px;
        }
      }
    }
  }

  .main_menu {
    flex: 1 1 auto;
    margin-left: 60px;
    ul {
      li {
        display: inline-block;
        position: relative;
        &.submenu_active > a {
          // color: $white;
        }
        &:first-child a {
          margin-left: 0;
        }
        a {
          color: $home_primary;
          font-size: 15px;
          font-weight: 500;
          margin: 0px 28px;
          padding: 13.75px 0;
          display: inline-block;
          text-transform: capitalize;
          font-family: $font1;
          i {
            font-size: 10px;
            font-weight: 400;
            color: $home_primary;
            margin-left: 5px;
          }
          &:hover,
          &.active {
            color: $home_secondary;
          }
          @media #{$lg_device} {
            margin: 0 15px;
          }
          @media #{$big_screen} {
            margin: 0 12px;
          }
          @media #{'only screen and (min-width: 1439px) and (max-width: 1599.98px)'} {
            margin: 0 12px;
          }
          @media #{'only screen and (min-width: 1600px) and (max-width: 1671.98px)'} {
            margin: 0 17px;
          }
        }
        // submenu

        // new submenu css
        .submenu {
          width: 200px;
          position: absolute;
          left: 0;
          top: 120%;
          background: #fff;
          text-align: left;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.04);
          opacity: 0;
          visibility: hidden;
          @include transition(0.5s);
          &.mega_width_menu {
            width: 800px;
            padding: 30px 0 0px 30px;
            display: flex;
            flex-wrap: wrap;
            @media #{$lg_device} {
              left: -255px;
            }
            .mega_metu_title {
              font-size: 16px;
              font-weight: 600;
              color: #090b17;
              border-bottom: 1px solid #f1f1f1;
              padding-left: 0;
              left: 0 !important;
              padding: 0;
              padding-bottom: 10px;
              margin-bottom: 11px;
            }
            > li {
              flex: 33.33%;
              padding-right: 50px;
              margin-bottom: 40px;
              ul {
                li {
                  padding: 0;
                  a {
                    font-size: 14px;
                    font-weight: 400;
                    color: #676e8b;
                    left: 0 !important;
                    padding: 0;
                    line-height: 31.8px;
                    &:hover {
                      color: $home_secondary;
                    }
                  }
                }
              }
              &.img_menu {
                background-image: url(../img/menu_bg.png);
                background-size: cover;
                background-position: right bottom;
                margin-bottom: 0;
                width: 100% !important;
                flex: 66.33%;
                padding-bottom: 97px;
                h6 {
                  font-size: 12px;
                  font-weight: 500;
                  color: #090b17 !important;
                  text-transform: uppercase;
                  display: block;
                  margin-top: 30px;
                }
                h4 {
                  font-size: 24px;
                  line-height: 1.42;
                  font-weight: 700;
                  margin: 8px 0 11px 0;
                }
                a.shop_now {
                  font-size: 14px;
                  font-weight: 500;
                  display: inline-block;
                  color: $home_secondary;
                  left: 0;
                  padding: 0;
                }
              }
            }
          }
          //## product mega menu style start
          &.product_mega_menu {
            width: 579px;
            padding: 0px 0 0px 0px;
            display: flex;
            flex-wrap: wrap;
            // opacity: 1;
            // visibility: visible;
            .mega_metu_title {
              font-size: 16px;
              font-weight: 700;
              color: $home_secondary;
              padding-left: 0;
              left: 0 !important;
              padding: 0;
              font-family: $font1;
              border: 0;
              margin: 0;
            }
            > li {
              padding: 26px 40px;
              flex: 1 1 auto;
              ul {
                li {
                  padding: 0;
                  a {
                    font-size: 14px;
                    font-weight: 400;
                    color: #687083;
                    left: 0 !important;
                    padding: 0;
                    font-family: $font1;
                    line-height: 2.5;
                    &:hover {
                      color: $home_secondary !important;
                    }
                  }
                }
              }
            }
            .prodict_menu_banner {
              @include background("../img/banner/menu_banner.png");
              position: relative;
              z-index: 0;
              padding: 80px 56px;
              flex: 280px 0 0;
              display: flex;
              justify-content: flex-end;
              align-items: flex-end;
              justify-content: flex-end;
              @media #{$tab2} {
                display: none !important;
              }
              &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($home_secondary, 0.6);
                z-index: -1;
              }
              .prodict_menu_banner_inner {
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                p {
                  font-size: 24px;
                  line-height: 1.42;
                  color: $white;
                  margin-bottom: 35px;
                  font-family: $font1;
                  a {
                    color: #fff72b;
                    padding: 0;
                    line-height: inherit;
                    font-weight: 600;
                    font-size: 24px;
                  }
                }
                .menu_prise {
                  width: 100px;
                  height: 100px;
                  border-radius: 50%;
                  background: #ef0000;
                  font-size: 14px;
                  color: #fff;
                  text-transform: uppercase;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  line-height: 1.29;
                  font-family: $font1;
                }
              }
            }
          }
          //## product mega menu style end
          li {
            display: block;
            margin: 0;
            position: relative;
            &:first-child {
              padding-top: 16px;
            }
            &:last-child {
              padding-bottom: 20px;
            }
            a {
              font-size: 14px;
              line-height: 1.2;
              color: $home_primary;
              padding: 0;
              font-weight: 500;
              display: block;
              margin: 0;
              padding: 10px 30px;
              @include transition(0.3s);
              position: relative;
              text-transform: capitalize;
              left: 0;
              &.active,
              &:hover {
                color: $home_secondary;
              }
              &:hover {
                left: 5px;
                color: $home_secondary;
              }
            }
            // new
            &:hover > a {
              color: $home_secondary !important;
            }
            .submenu_list {
              position: absolute;
              left: 110%;
              top: -17px;
              width: 100%;
              background: #fff;
              opacity: 0;
              visibility: hidden;
              transition: 0.3s;
              @media #{$lg_device} {
                left: auto;
                right: 110%;
              }
              li {
                a {
                  text-transform: capitalize;
                }
              }
            }
            &:hover > ul {
              opacity: 1;
              visibility: visible;
              left: 100%;
              @media #{$lg_device} {
                left: auto;
                right: 100%;
              }
            }
            // new
          }
        }
        &:hover {
          > a {
            color: $home_secondary;
          }
          .submenu {
            top: 100%;
            opacity: 1;
            visibility: visible;
          }
        }
        // new submenu css end
      }
    }
    // mega menu
  }
  .main_header_media {
    grid-gap: 20px;
    display: flex;
    align-items: center;
    .single_top_lists {
      grid-gap: 10px;
      font-size: 12px;
      font-weight: 500;
      color: $home_primary;
      height: 40px;
      text-transform: capitalize;
      a {
        color: $home_primary;
        font-size: 14px;
      }
    }
  }
  .contact_wrap {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    @media #{$small_mobile} {
      display: none !important;
    }
    @media #{$medium_device} {
      display: none !important;
    }
    @media #{$medium_device} {
      display: none !important;
    }
    .mobile_no {
      p {
        color: #505050;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 0;
        font-family: $font1;
        span {
          a {
            color: $white;
          }
        }
        @media #{$big_screen} {
          font-size: 13px;
          margin-right: 8px;
        }
      }
    }
    .signin {
      a.sign_in {
        font-size: 16px;
        color: #505050;
        font-weight: 600;
        margin-right: 40px;
        @media #{$lg_device} {
          margin-right: 15px;
        }
        &:hover {
          color: #4543de;
        }
      }
    }
    .contact_btn {
      margin-left: 25px;
    }
  }
  &.navbar_fixed {
    // padding: 20px;
    z-index: 90;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.03);
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    @media #{$small_mobile} {
      // padding: 10px 10px;
    }
    .header_top_area {
      display: none;
      @media #{$tab} {
        display: block;
      }
    }
    .main_header_area {
      @media #{$medium_device} {
        padding: 11px 0;
      }
    }
    .main_header_area {
      @media #{$tab} {
        display: none;
      }
    }
    .category_menu {
      display: none !important;
    }
    .slicknav_menu .slicknav_icon {
      @media #{$tab} {
        top: 2px;
      }
    }
    .menu_logo {
      @media #{$xl_device} {
        display: inline-block !important;
        margin-right: 50px;
      }
      @media #{$medium_device} {
        display: inline-block !important;
        margin-right: 30px;
      }
      @media #{$lg_device} {
        display: inline-block !important;
      }
      img {
        @media #{$lg_device} {
          max-width: 150px;
        }
      }
      // @media #{$lg_device} {
      //     display: inline-block !important;
      //     margin-right: 20px;
      // }
    }
    .offer_tag {
      @media #{$xl_device} {
        display: none !important;
      }
    }
    .main_menu {
      ul {
        li {
          a {
            // padding: 30px 0;
          }
        }
      }
    }
  }
  .menu_search_popup {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $white;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    transition: 0.3s;
    z-index: 12000000000;
    top: -100%;
    opacity: 0;
    visibility: hidden;
    &.active {
      transform: translateY(0%);
      top: 0;
      opacity: 1;
      visibility: visible;
    }
    .search_close {
      position: absolute;
      right: 16%;
      top: 30px;
      font-size: 20px;
      color: $home_primary;
      cursor: pointer;
      transition: 0.3s;
      width: 20px;
      height: 20px;
      border: 1px solid $home_primary;
      border-radius: 50%;
      font-size: 10px;
      font-weight: 900;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $home_primary;
      @media #{$tab2} {
        right: 15px;
        top: 20px;
      }
      &:hover {
        color: $home_secondary;
        border-color: $home_secondary;
      }
    }
    .menu_search_popup_field {
      max-width: 562px;
      position: relative;
      flex: 562px 0 0;
      @media #{$tab} {
        flex: 70% 0 0;
        max-width: 70%;
      }
      input {
        border: 0;
        border-bottom: 1px solid #d9d9d9;
        width: 100%;
        font-size: 14px;
        color: $home_primary;
        padding: 10px 20px 10px 0px;
        font-weight: 400;
        &::placeholder {
          color: #6e446e;
        }
        &:focus {
          border-color: $home_primary;
        }
      }
      button {
        background: transparent;
        border: 0;
        position: absolute;
        right: 0;
        top: 0;
        padding: 0;
        height: 100%;
        width: 30px;
        line-height: 1;
        text-align: right;
        i {
          font-size: 18px;
          color: $home_primary;
          font-weight: 700;
        }
      }
    }
  }
}

.large_categorySearch {
  width: 636px;
  height: 50px;
  border: 1.5px solid #f1f1f1;
  border-radius: 5px;
  background: #f9f9fd;
  .input-group-prepend {
    background: transparent;
    .input-group-text {
      background: transparent;
      border: 0;
      padding: 0 10px 0 20px;
    }
  }
  input.form-control {
    border: 0;
    height: 100%;
    background: #f9f9fd !important;
    box-shadow: none !important;
    font-size: 14px;
    font-weight: 400;
    color: $home_primary;
    &::placeholder {
      color: $home_body;
    }
  }
  .input-group-append {
    span {
    }
  }
}
// promotion_bar_wrapper ::start
.promotion_bar {
  z-index: 12;
}
.promotion_bar_wrapper {
  height: 80px;
  @media #{$tab} {
    padding-right: 50px;
  }
  @media #{$medium_device} {
    padding-right: 65px;
  }
  @include background(
    "../img/banner/promotion_barBg.jpg",
    center center,
    no-repeat
  );
  .close_promobar {
    width: 30px;
    height: 30px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    @media #{$tab} {
      right: 25px;
    }
    i {
      color: $body_text;
      font-size: 10px;
    }
  }
}

.wish_cart_mobile {
  display: flex;
  align-items: center;
  grid-gap: 15px;
  margin-right: 10px;
  justify-content: center;
  position: relative;
  top: 3px;
  @media #{"(min-width: 991.98px)"} {
    display: none;
  }
  @media #{$tab} {
    margin-right: 0;
  }
  a {
    font-size: 15px;
    color: $home_primary;
    font-weight: 900;
    &:hover {
      color: $home_secondary;
    }
  }
}
.home6_search_toggle {
  font-size: 15px;
  color: #00124e;
  font-weight: 900;
  cursor: pointer;
}
