.my_account_area {
  padding: 130px 0 110px 0;
  @media #{$tab} {
    padding: 70px 0 40px 0;
  }
  .single_account {
    border: 1px solid #f1f1f1;
    padding: 50px 76px 45px 60px;
    .icon {
      margin-bottom: 17px;
    }
    h4 {
      font-size: 20px;
      font-weight: 600;
    }
    p {
      margin: 5px 0 20px 0;
    }
    .arrow_btn {
      font-size: 14px;
      font-weight: 500;
      color: $home_secondary;
    }
  }
}
