.new_arrivales_area {
  padding: 91px 0 70px 0;
  @media #{$tab} {
    padding: 65px 0 50px 0;
  }
  .arrival_menu {
    display: flex;
    justify-content: space-between;
    @media #{$tab} {
      flex-direction: column;
    }
    .custom_nav {
      margin-right: 100px;
      margin-bottom: 30px;
      @media #{$tab} {
        margin-right: 0;
      }
    }
  }
}
.product_borderLess {
  .product_wized {
    // margin-right: -1px;
    .thumb {
      text-align: center;
      img {
        width: auto;
        display: inline-block;
      }
    }
  }
  .owl-item:last-child.active {
    display: none;
  }
}

.custom_nav {
  li {
    &:not(:last-child) {
      margin-right: 50px;
      @media #{$tab} {
        margin-right: 15px;
      }
    }
    a {
      font-size: 14px;
      font-weight: 500;
      color: #676e8b;
      padding: 4px 0 0 0;

      &.active {
        color: #fd1c5e;
      }
    }
  }
}
// home7
.custom_nav2 {
  li {
    &:not(:last-child) {
      margin-right: 24px;
      @media #{$tab} {
        margin-right: 15px;
      }
    }
    a {
      font-size: 14px;
      font-weight: 500;
      color: $home_body;
      font-family: $font1;
      padding: 4px 0 0 0;

      &.active {
        color: $home_secondary;
      }
    }
  }
}
// home7
.custom_nav3 {
  @media #{$small_mobile} {
    justify-content: start !important;
  }
  li {
    &:not(:last-child) {
      margin-right: 24px;
      @media #{$tab} {
        margin-right: 15px;
      }
    }
    a {
      font-size: 14px;
      font-weight: 600;
      color: $body_text;
      font-family: $font1;
      padding: 0;
      text-transform: uppercase;

      &.active,
      &:hover {
        color: $home_secondary;
      }
    }
  }
}
// wized
.product_wized {
  border: 1px solid #f1f1f1;
  position: relative;
  overflow: hidden;
  .thumb {
    margin: 20px;
    position: relative;
    overflow: hidden;
    text-align: center;
    img {
      display: inline-block;
      width: auto;
      transition: 0.5s;
      transform: scale(1);
    }
    .product_action {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: scale(1.1);
      opacity: 0;
      visibility: hidden;
      transition: 0.3s;
      .product_action_inner {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          width: 40px;
          height: 40px;
          display: inline-block;
          text-align: center;
          line-height: 40px;
          background: #fff;
          border: 1px solid #f1f1f1;
          transition: 0.3s;
          &:nth-child(2) {
            border-left: 0;
            border-right: 0;
          }
          i {
            color: #202e3b;
            font-size: 15px;
          }
          &:hover {
            background: $home_primary4;
            color: #fff;
            border-color: $home_primary4;
            i {
              color: #fff;
            }
          }
        }
      }
    }
  }
  .product_wized_body {
    text-align: center;
    padding: 30px 0 65px 0;
    transition: 0.3s;
    .stars {
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        font-size: 15px;
        color: #ffc107;
        &:not(:last-child) {
          margin-right: 5px;
        }
      }
    }
    span {
      margin: 9px 0 7px 0;
    }
    h4 {
      margin-bottom: 12px;
    }
    p {
    }
  }
  .add_to_cart {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background: $home_primary4;
    padding: 14.5px 0;
    transform: translateY(50px);
    transition: 0.3s;
  }

  &:hover {
    .product_wized_body {
      padding: 10px 0 85px 0;
    }
    .thumb {
      .product_action {
        transform: scale(1);
        visibility: visible;
        opacity: 1;
      }
      img {
        transform: scale(1.1);
      }
    }
    .add_to_cart {
      transform: translateY(0px);
    }
  }
}
