.order_confirm_banner {
  .order_conrim_banner {
    margin-bottom: 91px;
    @media #{$tab} {
      margin-bottom: 40px;
    }
  }
}

.order_confirm_email {
  border: 1px solid #f1ece8;
  padding: 16px 25px;
  p {
    font-size: 15px;
    font-weight: 400;
    a {
      font-weight: 500;
      color: $home_secondary;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
