.my_order_details_area {
  padding: 140px 0 116px 0;
  @media #{$tab} {
    padding: 70px 0 45px 0;
  }
  .single_order {
    .thumb {
      overflow: hidden;
      img {
        width: 100%;
        transition: 0.3s;
        transform: scale(1);
      }
    }
    .order_meta {
      h5 {
        margin: 26px 0 8px 0;
      }
    }
    &:hover {
      .thumb {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
  .my_order_details_info {
    margin-top: 25px;
    margin-bottom: 88px;
    @media #{$tab} {
      margin-bottom: 50px;
    }
    .my_order_details_info_inner {
      border-top: 1px solid #f1f1f1;
      border-bottom: 1px solid #f1f1f1;
      padding: 24px 0 20px 0;
      margin-bottom: 24px;
      .single_order_details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
        span {
          font-size: 16px;
          font-weight: 500;
          color: $home_primary;
        }
        p {
          font-size: 16px;
          color: $home_body;
          font-weight: 400;
        }
      }
    }
    .my_order_total {
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        font-size: 16px;
        font-weight: 600;
        color: $home_primary;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        color: $home_body;
      }
    }
  }
  .single_addressLine {
    h3 {
      font-size: 30px;
      color: $home_primary;
      font-weight: 700;
      margin-bottom: 13px;
      @media #{$tab} {
        font-size: 25px;
      }
    }
    p {
      font-size: 16px;
      font-weight: 400;
      color: $home_body;
      line-height: 1.63;
      margin-bottom: 17px;
      br {
        display: inline-block;
      }
    }
    .theme_btn {
      margin-top: 15px;
    }
  }
  // order_details_sidebar
  .order_details_sidebar {
    .details_sidebar_widget {
      border: 1px solid #f1f1f1;
      padding: 25px 40px 30px 40px;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
      h3 {
        font-size: 22px;
        font-weight: 600;
        border-bottom: 1px solid #f1f1f1;
        margin-bottom: 18px;
        padding-bottom: 11px;
        display: block;
      }
      ul {
        li {
          &:not(:last-child) {
            border-bottom: 1px solid rgba(112, 112, 112, 0.1);
            border-width: 50%;
          }
          a {
            font-size: 14px;
            font-weight: 500;
            color: #656565;
            text-transform: capitalize;
            padding: 11px 30px 11px 0px;
            display: inline-block;
            display: block;
            &:hover,
            &.active {
              color: $home_secondary;
            }
          }
        }
      }
    }
  }
}
