.product_widget5 {
  &.mb_45 {
    @media #{$tab} {
      margin-bottom: 30px;
    }
  }
  &.list_style_product {
    display: flex;
    align-items: center;
    grid-column-gap: 50px;
    grid-row-gap: 30px;
    flex-wrap: nowrap;
    @media #{$lg_device} {
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      flex-wrap: wrap;
    }
    @media #{$medium_device} {
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      flex-wrap: wrap;
    }
    @media #{$tab} {
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      flex-wrap: wrap;
    }
    .product__meta .stars {
      margin: 7px 0 20px 0;
    }
    .stars {
      .mute_text {
        margin-left: 3px;
      }
    }
    .product__meta {
      max-width: 550px;
    }
    .description_text {
      font-size: 16px;
      line-height: 1.63;
      font-weight: 400;
      margin: 0 0 30px 0;
    }
  }
  .thumb {
    display: block;
    .offer_text {
      position: absolute;
      background-color: #fd0260;
      width: 87px;
      height: 40px;
      font-size: 14px;
      font-weight: 700;
      font-family: $font1;
      color: $white;
      padding-left: 10px;
      text-transform: uppercase;
      top: 20px;
      left: -3px;
      display: flex;
      align-items: center;
      clip-path: polygon(0% 0%, 100% 0, 85% 50%, 100% 100%, 0% 100%);
      &.sale_text {
        background: $home_secondary;
        top: 70px;
        padding-left: 22px;
      }
    }
    img {
      width: 100%;
      transform: scale(1);
      transition: 0.3s;
    }
  }
  .product_thumb_upper {
    position: relative;
    margin-bottom: 20.5px;
    .badge_1 {
      position: absolute;
      width: 44px;
      background: #82ca9c;
      height: 21px;
      font-size: 12px;
      font-weight: 700;
      border-radius: 2px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      top: 20px;
      left: 20px;
      &.style2 {
        background: #f27001;
        left: 68px;
      }
    }
    .product_action {
      position: absolute;
      top: 20px;
      display: flex;
      justify-content: center;
      border-radius: 30px;
      background: $white;
      border-radius: 5px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
      right: 20px;
      transition: 0.3s;
      opacity: 0;
      visibility: hidden;
      flex-direction: column;
      a {
        width: 40px;
        height: 40px;
        color: #090b17;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        position: relative;
        &:not(:last-child) {
          border-bottom: 1px solid #f1f1f1;
        }
        &:hover {
          color: $home_secondary;
        }
      }
    }
  }
  .product__meta {
    .product_banding {
      font-family: $font1;
      font-size: 14px;
      font-weight: 500;
      color: $home_body;
      display: block;
      margin-bottom: 5px;
    }
    h4 {
      font-size: 22px;
      font-weight: 700;
      color: $home_primary;
      font-family: $font1;
      margin-bottom: 0px;
      transition: 0.3s;
      line-height: 1.44;
      &:hover {
        color: $home_secondary;
      }
    }
    .stars {
      display: flex;
      align-items: center;
      margin: 12px 0 18px 0;
      i {
        color: #ffc107;
        font-size: 15px;
        &:not(:last-child) {
          margin-right: 5px;
        }
      }
    }

    .product_prise {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      p {
        font-size: 16px;
        font-weight: 500;
        color: $home_secondary;
        transform: translateY(0px);
        transition: 0.3s;
        span {
          color: $home_body;
          text-decoration: line-through;
          margin-right: 15px;
        }
      }
      .add_cart {
        font-size: 14px;
        font-weight: 700;
        color: $home_secondary;
        font-family: $font1;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: 0;
        right: 0;
        display: inline-block;
        top: 50%;
        transform: translateY(0);
        transition: 0.3s;
        display: inline-block;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        &::before {
          content: "";
          position: absolute;
          right: auto;
          left: auto;
          height: 1px;
          background: $home_secondary;
          width: 95px;
          text-align: center;
          bottom: 2px;
        }
      }
    }
  }
  &:hover {
    .product_prise {
      .add_cart {
        opacity: 1;
        visibility: visible;
        transform: translateY(-50%);
      }
      p {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
      }
    }
    img {
      transform: scale(1);
    }
    .product_thumb_upper {
      .product_action {
        opacity: 1;
        visibility: visible;
        right: 30px;
      }
    }
  }
  &.style2 {
    border: 1px solid #f1ece8;
    padding: 20px 20px 25px 20px;
    .thumb {
    }
  }
  &.style3 {
    padding: 20px 0px 25px 0px;
    .product__meta {
      padding: 0 20px;
    }
    .thumb {
      text-align: center;
      img {
        max-width: 200px;
        min-width: 200px;
        margin: auto;
        @media #{$small_mobile} {
          min-width: auto;
        }
      }
    }
    .product__meta {
      h4 {
        font-size: 18px;
        line-height: 1.44;
      }
    }
  }
  &.style4 {
    padding: 20px 0px 25px 0px;
    .product__meta {
      padding: 0 50px;
      @media #{$small_mobile} {
        padding: 0 10px;
      }
    }
    .thumb {
      text-align: center;
      img {
        max-width: 140px;
        min-width: 140px;
        margin: auto;
        @media #{$tab} {
          max-width: 100px;
          min-width: auto;
        }
      }
    }
    .product__meta {
      h4 {
        font-size: 16px;
        line-height: 1.5;
        margin: 11.5px 0 5px 0;
      }
    }
  }
  &.style5 {
    .product__meta {
      h4 {
        font-size: 20px;
      }
    }
  }
}
// new
.custom_rowProduct {
  @media #{$small_mobile} {
    margin: 0 -5px;
  }

  .col-6 {
    @media #{$small_mobile} {
      padding: 0 5px;
    }
  }
  .product_widget5 .product_thumb_upper .badge_1 {
    @media #{$small_mobile} {
      top: 5px;
      left: 5px;
    }
  }
  .product_widget5 .product_thumb_upper .badge_1.style2 {
    @media #{$small_mobile} {
      left: 52px;
    }
  }
  .product_widget5:hover .product_thumb_upper .product_action {
    @media #{$small_mobile} {
      right: 5px;
    }
  }
}
