.team_member_area {
  .single_member {
    .thumb {
      overflow: hidden;
      img {
        width: 100%;
        transform: scale(1);
        transition: 0.3s;
      }
    }
    .member_info {
      h4 {
        font-size: 20px;
        font-weight: 700;
        color: $home_primary;
        margin: 31px 0 0px 0;
        line-height: 28px;
      }
      p {
        font-size: 14px;
        font-weight: 500;
        color: $body_text;
        margin-bottom: 0;
      }
    }
    &:hover {
      .thumb {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
}
