// home_1 variable
$font1: "Circular Std Book";
$font2: "Shadows Into Light Two", cursive;

$home_primary: #00124e;
$home_secondary: #fd4949;
$black: #000000;
$body_text: #687083;
$home_body: #687083;

// border colors
$border_1: #eef0f4;
$border_2: #e3e6ef;
$border_3: #f1ece8;

/* --------------------------- other common color::start --------------------------- */
$common_color: #999999;
/* --------------------------- other common color::end --------------------------- */

$gray-color: #ddd;
$text1: #676e8b;
$text2: #676e8b;
$text3: #333333;

// theme colors
$home_primary2: #627ae4;
$home_primary3: #ffd500;
$home_primary4: #fd1c5e;
$white: #fff;
$b_color: #f1f1f1;
// btn bg

$btn_bg_2: #4543de;

// responsive query
$small_mobile: "(max-width: 575.98px)";
$large_mobile: "(min-width: 576px) and (max-width: 767.98px)";
$tab: "(max-width: 767.98px)";
$tab2: "(max-width: 991.98px)";
$medium_device: "(min-width: 768px) and (max-width: 991.98px) ";
$lg_device: "(min-width: 992px) and (max-width: 1199.98px)";
$large_xl: "(min-width: 1200px) and (max-width: 1399.98px)";
$xl_device: "(min-width: 1200px)";
$max_lg: "(max-width: 1199.98px)";
$min_large: "(min-width: 1600px)";

$tab_device: "only screen and (min-width: 768px) and (max-width: 991.98px)";
$big_screen: "only screen and (min-width: 1200px) and (max-width: 1440px)";
