

  .review_img{
      width: 40%;
      height: auto;
  }
  .text-gray{
      color: gray!important;
  }
  .seller_avatar{
      width: 60%;
      height: auto;
  }
  .seller_text_div{
      margin-left: -5%;
  }
  .img_div_width {
      width: 306px;
      display: flex;
      align-items: center;
      grid-gap: 10px;
  }
  .selected_btn {
      border: 1px solid #ff0027 !important;
  }
  .radio input[type="radio"] + .radio-label:before {
      content: '';
      display: inline-block;
      width: 30px;
      height: 30px;
      position: relative;
      top: -8px;
      margin-right: 1em;
      vertical-align: top;
      cursor: pointer;
      text-align: center;
      transition: all 250ms ease;
  }
  .product_details_part .cs_color_btn .radio input[type="radio"] + .radio-label:before {
      top: 1px !important;
      left: 1px !important;
  }
  .product_details_part .cs_color_btn .radio {
      margin: 3px 5px;
      display: inline-block;
      height: 32px;
      border-radius: 50%;
      width: 32px;
      line-height: 32px;
  }
  .radio input.selected_btn[type="radio"] + .radio-label:before {
      box-shadow: inset 0 0 0 4px #f4f4f4;
  }
  .tag_link{
      color: #8f8f8f;
  }
  .tag_link:hover{
      color: #ff0027;
  }
  #wishlist_btn{
      cursor: pointer;
  }
  .wishlist_disabled{
      pointer-events: none;
      cursor: default;
  }
  .client_review .single_product_img img {
      padding: 5px;
      border-radius: 5px;
  }
  .product_details_part .social_icon .social_icon_iner a {
      padding-top: 10px;
  }
  .related_product_width{
      width: 80%;
  }
  .media_style .category_product_price span {
      text-decoration: none!important;
  }
  .wishlist_btn_for_site{
      padding: 7px;
      border-radius: 50%;
  }
  .single_product_img > a > i{
      line-height: 50px;
  }

  .zoomContainer{
      height: 0!important;
      width: 0!important;
  }

  .zoomWindowContainer div{
      width: 550px!important;
      height: 418px!important;
      left: 620px!important;
      border: 1px solid rgb(241 33 33 / 38%)!important;
      background-color: #fff;
  }
  .zoomLens{
      border: 1px solid rgb(241 33 33 / 75%)!important;
  }

  .thumb_small_m{
      margin: 0px 10px 10px 0px;
  }
  .product_details_part .tab_thumb .nav-item {
      flex: 23% 0 0;
  }


  .product_details_part .tab_thumb .nav-item .thamb_img {
      position: relative;
      overflow: hidden;
      height: 100px;
      display: flex;
      align-items: center;
  }
  .img_div {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
  }
  .img_div img {
      max-width: 100%;
  }

  .sku_img_div {
      background: #fff;
      width: 70px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .nice-select:after {
      border-bottom: 2px solid #999;
      border-right: 2px solid #999;
      content: '';
      display: block;
      height: 10px;
      margin-top: -4px;
      pointer-events: none;
      position: absolute;
      right: 12px;
      top: 50%;
      -webkit-transform-origin: 66% 66%;
      -ms-transform-origin: 66% 66%;
      transform-origin: 66% 66%;
      -webkit-transform: rotate(
      45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(
      45deg);
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      width: 10px;
  }
  .product_details_part .tab_content {
      padding: 30px!important;
  }
  .product_details_part .product_details .tittle h2 {
      z-index: 0;
  }
  .product_details_part .product_details .tittle h2:after {
    background-color: transparent!important;
  }

  @media (max-width: 1760px) {
      .zoomWindowContainer div{
          width: 550px!important;
      }
  }
  @media (max-width: 970px) {
    .zoomWindowContainer div {
        left: -15px!important;
    }
    .img_div img {
        max-width: 65%;
        max-height: 348px;
    }
    .img_div {
        height: 400px;
    }
  }
  @media (max-width: 540px) {
      .zoomWindowContainer div {
        width: 335px!important;
        height: 360px!important;
    }
    .item_description, #specifications .product_details {
        overflow: scroll;
    }
    .zoomWindowContainer div {
        left: -50px!important;
    }
    .img_div img {
        max-width: 90%;
        max-height: 348px;
    }
  }
  
.subtitle{
    margin-bottom: 10px!important;
}
.subtitle h4 {
    font-size: 18px!important;
    font-weight: 400!important;
}

/* update css */
.product_details_part .tab_thumb .nav-item .nav-link.active .thamb_img {
    border: 1px solid var(--base_color);
}
.img_div {
    align-items: center;
    justify-content: center;
    min-height: 604px;
    cursor: pointer;
    padding: 5px !important;
}
.product_details_part .tab_content {
    padding: 0px!important;
}
/* .product_details_part .tab_content {
    background-color: transparent;
} */
.product_details_part .tab_thumb .nav-link {
    padding: 5px;
}
.product_details_part .tab_thumb .nav-item {
    flex: 17% 0 0;
}
.product_details_part .tab_thumb .nav-item img {
    max-height: 90px;
}
.product_details_part .tab_thumb .nav-item .thamb_img {
    align-items: center;
    justify-content: center;
}
.img-fluid, .img-thumbnail {
    max-height: 594px;
}
.product_details iframe{
    width: 100%;
    min-height: 445px;
}
@media (max-width: 540px) {
    .product_details_part .tab_thumb .nav-item img {
        max-height: 75px;
    }
    .img_div img {
        max-width: 100%;
        height: auto !important;
        max-height: 240px;
    }
    .img_div {
        height: 250px;
        min-height: 250px;
    }
    .product_details_part .tab_content {
        padding: 0px!important;
        margin-bottom: 10px;
    }
    .product_details_part .product_details {
        margin-top: 10px;
    }
    .product_details iframe{
        min-height: 190px;
    }
}
@media (max-width: 767.98px) {
    .product_details_part .tab_thumb .nav-item:hover img {
        transform: scale(1);
    }
    .product_details_part .tab_thumb .nav-item .thamb_img {
        height: 60px;
    }
    .product_details_part .tab_thumb .nav-item img {
        max-width: 60px;
    }
}
.zoomLens{
    min-height: 120px;
    min-width: 120px;
}