.author_img {
    display: flex;
    height: 170px;
    width: 170px;
    align-items: center;
    justify-content: center;
}
.author_img img{
    max-width: 100%;
    max-height: 170px;
}
.author_social_icon a i{
    line-height: 36px;
}
.media a {
    display: flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
}
.media a img{
    max-width: 100%;
    border-radius: 50%;
    max-height: 40px;
}
.d-inline-block{
    display: inline-block!important;
}
.blog_sidebar .single_blog_sidebar .instagram_img {
	align-items: center;
}
.keyword_lists a {
    display: inline-block;
    border: 1px solid var(--border_color);
    padding: 4px 10px;
    text-transform: uppercase;
    color: var(--text_color);
    font-weight: 300;
    background-color: #ddd0d0;
}

.reply_textarea {
    border-color: var(--border_color);
    font-size: 13px;
    text-transform: none;
    font-weight: 300;
    border-radius: 0;
    display: block;
    width: 100%;
    padding: 20px;
    height: 160px;
}
.reply_btn{
    padding: 10px 30px!important;
    margin-top: 0px!important;
}
.mb_5{
    margin-bottom: 5px;
}